.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: url('/assets/bg.png') no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    margin-bottom: 70px;

    img {
      width: 150px;
      margin-left: 10px;
    }
  }
}
