<div class="wrapper">
  <div class="password">
    <input
      class="password__input"
      type="password"
      placeholder="Type your password..."
      (input)="evaluatePasswordStrength($event)"
    />
    <div class="password__sections">
      <div
        class="section"
        [ngClass]="currentPasswordStrength >= 1 ? passwordStrengthClass : ''"
      ></div>
      <div
        class="section"
        [ngClass]="currentPasswordStrength >= 2 ? passwordStrengthClass : ''"
      ></div>
      <div
        class="section"
        [ngClass]="currentPasswordStrength >= 3 ? passwordStrengthClass : ''"
      ></div>
    </div>
  </div>
</div>
