.wrapper {
  height: 70vh;

  .password {
    width: 400px;
    padding: 70px;

    background: rgba(108, 108, 108, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(108, 108, 108, 0.15);

    &__input {
      width: 100%;
      padding: 20px;

      margin-bottom: 15px;

      font-size: 28px;

      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }

    &__sections {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .section {
        width: 30%;
        height: 12px;
        margin: 0 5px;

        background-color: #ccc;
        border-radius: 2px;

        transition: background-color 0.3s ease-in-out;

        &.empty {
          background-color: #ccc;
        }

        &.weak {
          background-color: #ff0000;
        }

        &.medium {
          background-color: #ffff00;
        }

        &.strong {
          background-color: #00d502;
        }
      }
    }
  }
}
