:root {
  --section-color-empty: #ccc;
  --section-color-weak: #ff0000;
  --section-color-medium: #ffff00;
  --section-color-strong: #00d502;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
